DOMAIN_NAME=xhubier.42.fr
DATA_PATH=/home/ghostwizer/data

MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=changeme_wp_pass
MYSQL_ROOT_PASSWORD=changeme_root_pass

WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wp_user
WORDPRESS_DB_PASSWORD=changeme_wp_pass
WORDPRESS_DB_HOST=mariadb

WP_ADMIN_USER=xhubier
WP_ADMIN_PASSWORD=changeme_admin_pass
WP_ADMIN_EMAIL=xhubier@42.fr
WP_USER=alice
WP_USER_PASSWORD=changeme_user_pass
WP_USER_EMAIL=alice@42.fr
