DOMAIN_NAME=jhubier.42.fr
PUBLIC_PORT=443
DATA_PATH=/home/ghostwizer/data

MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=wp_pwd
MYSQL_ROOT_PASSWORD=root_pwd

WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wp_user
WORDPRESS_DB_PASSWORD=wp_pwd
WORDPRESS_DB_HOST=mariadb

WP_ADMIN_USER=jhubier
WP_ADMIN_PASSWORD=jhubier_pwd
WP_ADMIN_EMAIL=jhubier@42.fr
WP_USER=me
WP_USER_PASSWORD=me_pwd
WP_USER_EMAIL=me@42.fr
